@using System.Security.Claims;
@model HistVacationCreateDTO
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Solicitar Férias</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input asp-for="employeeId" hidden />
            <div class="border p-3 mt-4">
                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="startVacationDate" class="form-control border-0 shadow" />
                    <label asp-for="startVacationDate" class="ms-2"></label>
                    <span asp-validation-for="startVacationDate" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Occupancy" class="form-control border-0 shadow" />
                    <label asp-for="Occupancy" class="ms-2"></label>
                    <span asp-validation-for="Occupancy" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Days" class="form-control border-0 shadow" />
                    <label asp-for="Days" class="ms-2"></label>
                    <span asp-validation-for="Days" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Observacoes" class="form-control border-0 shadow" />
                    <label asp-for="Observacoes" class="ms-2"></label>
                    <span asp-validation-for="Observacoes" class="text-danger"></span>
                </div>
                
                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Solicitar</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Vacation" asp-action="MyDetails" asp-route-email="@User.Claims.FirstOrDefault(x=> x.Type == ClaimTypes.Email).Value" class="btn btn-secondary border  form-control">
                            Voltar
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>